.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 35% 35%, #ffffff 0%, #ff0202 40%, #111 100%);
    border-radius: 50%;
    box-shadow:
        inset -2px -2px 4px rgba(0, 0, 0, 0.8),
        inset 1px 1px 1px rgba(255, 255, 255, 0.4);
    z-index: 50;
    left: 172px;
    bottom: 380px;
}

.ball::after {
    content: "";
    position: absolute;
    width: 140%;
    height: 40%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    bottom: -15%;
    left: -20%;
    filter: blur(4px);
    z-index: -1;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.8);
}

/* Flippers */
.flipper {
    position: absolute;
    bottom: 47px;
    z-index: 30;
    width: 90px;
    height: 8px;
}

.flipper-left {
    transform: rotate(30deg);
    left: 83px;
}
.flipper-right {
    transform: rotate(-30deg);
    right: 83px;
}

.flipper-rod {
    width: 100%;
    height: 12px;
    background-image: url("../images/flipper.png");
    background-size: 100% 100%; /* stretch to exact width & height */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5), inset -1px -1px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.flipper-left.active .flipper-rod {
    transform: rotate(-35deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px #ffff00;
}

.flipper-right.active .flipper-rod {
    transform: rotate(35deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px #ffff00;
}